In [1]:
!pip install git+https://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@github.com/INFINITY-RESEARCH-CODE-BASE/Trinity.git --no-deps --upgrade --force-reinstall

Collecting git+https://****@github.com/INFINITY-RESEARCH-CODE-BASE/Trinity.git
  Cloning https://****@github.com/INFINITY-RESEARCH-CODE-BASE/Trinity.git to /private/var/folders/cf/dscpt02d5tjfxc6y4gwsh9ch0000gn/T/pip-req-build-cu_sm5p5
  Running command git clone --filter=blob:none --quiet 'https://****@github.com/INFINITY-RESEARCH-CODE-BASE/Trinity.git' /private/var/folders/cf/dscpt02d5tjfxc6y4gwsh9ch0000gn/T/pip-req-build-cu_sm5p5
  Resolved https://****@github.com/INFINITY-RESEARCH-CODE-BASE/Trinity.git to commit 1e6857c1bec41692f8541a91a82476f19b83ae9f
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: InfinityResearchTrinity
  Building wheel for InfinityResearchTrinity (pyproject.toml) ... done
  Created wheel for InfinityResearchTrinity: filename=InfinityResearchTrinity-0.0.1-py3-none-any.whl size=28392 sha256=d360593ade2f16fcb80e24082b6c2d2848bfb06748777fd7efe1e04321f4a8e8
  Stored in directory: /private/var/folders/cf/dscpt02d5tjfxc6y4gwsh9ch0000gn/T/pip-ephem-wheel-cache-rurvcfu3/wheels/a7/5d/4a/ee9f4e3baf303fda488fde31487538450fe9f06af3700d2893
Successfully built InfinityResearchTrinity
Installing collected packages: InfinityResearchTrinity
  Attempting uninstall: InfinityResearchTrinity
    Found existing installation: InfinityResearchTrinity 0.0.1
    Uninstalling InfinityResearchTrinity-0.0.1:
      Successfully uninstalled InfinityResearchTrinity-0.0.1
Successfully installed InfinityResearchTrinity-0.0.1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ML_val_research.S3.S3InfinityResearchActions import INFINITY_RESEARCH_BUCKET_ACTIONS
from ML_val_research.utils.decayed_sum_module import decayed_sum
import datetime as datetime

In [5]:
rws_seconds = INFINITY_RESEARCH_BUCKET_ACTIONS.get_gz_csv(path = 'rws_seconds.csv.gz')

In [6]:
from ML_val_research.beta_calculation.corr_basket import get_decayed_log_returns, calculate_corr_for_target_code_residuals, residual_corrs, all_corr_baskets_for_one_day

#### **1) Function 1: Get decayed log returns**

In [8]:
rws_seconds.head()

,Unnamed: 0,second,EV1,EV101,EV1024,EV1030,EV1038,EV1044,EV1055,EV1060,...,EV9995,EV9996,EV9999,hti,hhi,hsi,time,eod_flag,date,EV493
0,0,2023-06-16 01:30:00,48.915625,13.212000,61.209066,1.748221,41.700000,34.420000,4.622000,0.438624,...,34.833333,6.82625,152.971739,4225.181818,6809.818182,19915.800000,01:30:00,0,2023-06-16,NaN
1,1,2023-06-16 01:30:01,48.915625,13.212000,61.209066,1.748221,41.700000,34.420000,4.622000,0.438624,...,34.833333,6.82625,152.971739,4223.695652,6807.827586,19912.500000,01:30:01,0,2023-06-16,NaN
2,2,2023-06-16 01:30:02,48.902632,13.225000,61.289916,1.748521,41.818750,34.465517,4.608475,0.438624,...,34.875000,6.82625,152.789130,4225.100000,6810.500000,19918.333333,01:30:02,0,2023-06-16,NaN
3,3,2023-06-16 01:30:03,48.902500,13.221538,61.306945,1.748391,41.794444,34.466667,4.609143,0.438644,...,34.875000,6.82500,152.991111,4224.941176,6809.642857,19914.333333,01:30:03,0,2023-06-16,NaN
4,4,2023-06-16 01:30:04,48.904545,13.220000,61.194595,1.748391,41.797368,34.468750,4.596800,0.438644,...,34.875000,6.82500,152.917949,4222.333333,6807.210526,19906.500000,01:30:04,0,2023-06-16,NaN

In [9]:
rws_seconds['second'] = pd.to_datetime(rws_seconds['second'])
rws_seconds['date'] = rws_seconds['second'].dt.date
dates = sorted(rws_seconds.date.unique())[0:3]
rws_seconds_sampled =rws_seconds.query("date in @dates")

In [10]:
seconds = 1
hl = 30
decayed_lr = get_decayed_log_returns(rws_seconds_sampled,seconds,hl)
decayed_lr.head()

/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/ML_val_research/beta_calculation/corr_basket.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'])
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/ML_val_research/beta_calculation/corr_basket.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'] = pd.to_datetime(df['time'])

,EV1,EV101,EV1024,EV1030,EV1038,EV1044,EV1055,EV1060,EV1066,EV1071,...,EV998,EV9987,EV9988,EV9990,EV9991,EV9992,EV9995,EV9996,EV9999,EV493
second,,,,,,,,,,,,,,,,,,,,,
2023-06-16 01:30:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2023-06-16 01:30:01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2023-06-16 01:30:02,-0.000383,0.001419,0.001904,0.000248,0.004103,0.001907,-0.004228,0.000000,-0.000527,0.000000,...,-0.000353,-0.000029,0.000095,0.000000,0.003237,-0.013705,0.001725,0.000000,-0.001723,0.0
2023-06-16 01:30:03,-0.000378,0.001009,0.002262,0.000134,0.003170,0.001911,-0.003922,0.000063,-0.000830,-0.000353,...,-0.000428,0.000499,-0.000830,0.000000,-0.042198,-0.001695,0.001685,-0.000264,0.000222,0.0
2023-06-16 01:30:04,-0.000309,0.000818,-0.000436,0.000131,0.003199,0.001955,-0.007701,0.000061,-0.001109,-0.000313,...,-0.001745,0.000519,-0.001775,0.010703,-0.041234,-0.001664,0.001647,-0.000258,-0.000473,0.0

#### **2) Function 2: Get Most Correlated Symbol to target**

In [26]:
target_code = 700
current_date = dates[-1]
print(current_date)
shifted = False
top = 1
threshold = 1 #This must be set to one to return the top

residual_iter1 = decayed_lr[f"EV{target_code}"].copy()

top_corr = calculate_corr_for_target_code_residuals(residual_iter1, decayed_lr, target_code, seconds, shifted, top, threshold, current_date)

2023-06-20

/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [27]:
top_corr

  constituent      corr stock_id        date     beta
0      EV9988  0.488344    EV700  2023-06-20  0.42923

#### **3) Function 3: Get the CORR basket for ONE stock for ONE DATE**

In [31]:
max_iters = 10
learning_rate = 0.50

corr_bsk_example = residual_corrs(decayed_lr, max_iters, target_code, learning_rate, seconds, shifted, top, threshold, current_date)

/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kartikeyabisht/anaconda3/envs/ProjectTrinity/lib/python3.9/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [32]:
corr_bsk_example.head()

,constituent,corr,stock_id,date,beta,r2_gain,max_iters,lr,iteration,r2_prior,r2_after,iters
0,EV9988,0.488344,EV700,2023-06-20,0.429230,0.178821,10,0.5,0,0.000000,0.178821,9
0,EV9999,0.422862,EV700,2023-06-20,0.328080,0.110101,10,0.5,1,0.178821,0.288922,9
0,EV9888,0.332645,EV700,2023-06-20,0.210121,0.059029,10,0.5,2,0.288922,0.347951,9
0,EV3690,0.275837,EV700,2023-06-20,0.165668,0.037237,10,0.5,3,0.347951,0.385188,9
0,EV1024,0.221462,EV700,2023-06-20,0.111728,0.022630,10,0.5,4,0.385188,0.407817,9

#### **4) Function 4: Get the CORR basket for ALL stock for ONE DATE**

In [34]:
codes = [3690, 700, 2269, 9988]
corr_bsk_dict, check_date = all_corr_baskets_for_one_day(codes, rws_seconds, current_date,  max_iters, learning_rate, hl, seconds, shifted, top, threshold)

KeyboardInterrupt

In [ ]:
corr_bsk_dict[3690].head()